body,
html
{
    padding: 0;
    margin: 0;
    background-image: url("../images/diary.jpg");
    background-size: 100vmax;
    font-family: 'Arial Narrow Bold', sans-serif;
    color: rgb(102, 101, 101);

}

h1{
    text-align: center;
}

.center{
    width: 100vmax;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#description{
    width: 15vmax;
    height: 4vmin;
    border-radius: 5px;
    margin: 1px;
}

#detail{
   width: 50vmax;
   height: 4vmin;
   border-radius: 5px;
   margin: 1px;
}

#save-message{
    width: 10vmax;
    height: 4.5vmin;
    background-color: grey;
    color: lightgray;
    border-radius: 5px;
    margin: 1px;
}

.table_style{
    border-collapse: collapse;
    width: 100vmax;
    text-align: center;
}

tr:nth-child(even) {background-color:lightgray;}


.identificator{
    width: 10vmax;
}
.description_column{
    width: 20vmax;
}

.detail_column{
    width: 40vmax;
}

.buttons_column{
    width: 30vmax;
}

.button{
    width: 8vmax;
    height: 4vmin;
    border-radius: 5px;
    border-color: gray;
}

.red{
    background-color: lightcoral;
    color:  rgb(102, 101, 101);
    font-size: large;
}

.gray{
    background-color: lightgray;
    color:  rgb(102, 101, 101);
    font-size: large;
}


.superiorRigth{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
}

#exit{
    padding: 1px;
    margin-left: 10px;
}


