body
{
    padding: 0;
    margin: 0;
    background-image: url("../images/diary.jpg");
}

.identificator{
    width: 10vmax;
}
.description_column{
    width: 20vmax;
}

.transitionSize{
    transition: 200ms;
}

.transitionSize:hover{
    transform: scale(1.03);
}



